@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="navigation">
    @Html.ActionLink("Sign in", "Login", "Auth")
    @Html.ActionLink("Sign up", "Signup", "Auth")
    @Html.ActionLink("Log out", "Logout", "Auth")
</div>